<table class="table" style="width: 500px; padding: 20px;" hover="true">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th>Id</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Name Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of allCoinsData$ | async; let i = index">
      <th scope="row">{{ i + (page - 1) * pageSize + 1 }}</th>
      <td>{{ coin.id }}</td>
      <td>{{ coin.symbol }}</td>
      <td>
        <a [routerLink]="['/coin', coin.id]">{{ coin.name }}</a>
      </td>
      <td>{{ coin.nameid }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize$ | async" [page]="page" [pageSize]="pageSize"
    (pageChange)="pageChange($event)" [maxSize]="5">
  </ngb-pagination>
</div>