<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <td *ngFor="let keys of objectKeys(allCoinsData[0])">
        {{ keys }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of coins; index as i">
      <th scope="row">{{ coin.row_id }}</th>
      <td>{{ coin.id }}</td>
      <td>{{ coin.symbol }}</td>
      <td>{{ coin.name }}</td>
      <td>{{ coin.nameid }}</td>
      <td>{{ coin.rank }}</td>
      <td>{{ coin.price_usd }}</td>
      <td>{{ coin.percent_change_24h }}</td>
      <td>{{ coin.percent_change_1h }}</td>
      <td>{{ coin.percent_change_7d }}</td>
      <td>{{ coin.price_btc }}</td>
      <td>{{ coin.market_cap_usd }}</td>
      <td>{{ coin.volume24 }}</td>
      <td>{{ coin.volume24a }}</td>
      <td>{{ coin.csupply }}</td>
      <td>{{ coin.tsupply }}</td>
      <td>{{ coin.msupply }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
  >
  </ngb-pagination>
</div>
